
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

/* Háttér és középre igazítás */
body {
    background: linear-gradient(135deg, #8315b6, #acb6e5);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}


.tartalom {
    background: rgba(88, 220, 194, 0.9);
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    text-align: center;
    max-width: 800px;
    width: 100%;
}

/* Cím stílusa */
h1 {
    font-size: 58px; /* 1em=16px */
    color: #fcfafa;
    margin-bottom: 30px;
    text-shadow: 10px 4px 4px rgba(245, 18, 211, 0.5); /* árnyék */
}


.ponttabla {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    margin-bottom: 30px;
    color: #c450ee;
}


.valasztasok {
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
}
.gomb {
    background: #3e0adb;
    border: none;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s, background 0.3s;
    width: 100px; /* Fix szélesség a kiegyensúlyozott megjelenéshez */
    height: 100px; /* Fix magasság */
    display: flex;
    justify-content: center;
    align-items: center; /* Kép középre igazítása */
}
.gomb img {
    width: 80px; /* Kép mérete */
    height: 80px;
    object-fit: contain; /* Kép arányos méretezése */
}

/*nagyitas*/
.gomb:hover {
    transform: scale(1.1);
    background: #a224d0;
}

.eredmeny {
    margin-bottom: 20px;
}

#eredmeny-szoveg {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 20px;
    opacity: 0;
    animation: megjelenes 0.5s forwards;
}

.kivalasztasok {
    display: flex;
    justify-content: space-between;
    font-size: 2em;
}


#ujrakezdes {
    background: #4caf50;
    color: white;
    border: 2.3em;
    padding: 10px 20px;
    font-size: 1em;
    border-radius: 10px;
    cursor: pointer;
    transition: background 0.3s;
}


#ujrakezdes:hover {
    background: #388e3c;
}

@keyframes megjelenes {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes ugras {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
}

.gomb:active {
    animation: ugras 0.3s;
}

@media (max-width: 500px) {
    
    h1 {
        font-size: 2em;
    }
    
    .gomb {
        padding: 10px 20px;
        font-size: 1em;
    }

    .kivalasztasok {
        font-size: 1.5em;
    }
}
